.cancel-button {
    margin-left: 10px;
}


@media (max-width: 479px) {
    .button-text {
        display: none;
    }
}


.sortable-list thead tr th:first-child {
    padding-left: 40px;
}
.sortable-list tbody td {
    cursor: ns-resize;
}
.sortable-list tbody td:first-child > i.fa {
    margin-right: 20px;
}
